<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <div class="welcome-logo">
      <a href="https://paymium.com" target="blank">
        <img src="<%= ENV['LOGO_URL'] || image_path('logo.png') %>">
      </a>
    </div>
  </div>

  <div class="row justify-content-center" id="getstart">
    <% unless current_user %>
      <div class="col-8 text-center">
        <% # Output button for enabled OAuth2 provider. %>
        <% provider = ENV['OAUTH2_SIGN_IN_PROVIDER'] %>
        <% unless provider.blank? %>
          <a class="btn btn-primary btn-lg btn-block custom-btn" href="/auth/<%= provider == 'google' ? 'google_oauth2' : provider %>" role="button">
            <small>Sign in</small>
          </a>
        <% end %>
      </div>
    <% else %>
      <div class="col-8 text-center">
        <a class="btn btn-primary btn-lg btn-block custom-btn" href="<%= trading_path(current_market) %>" role="button">
          <small><%= t('header.getstart') %></small>
          </a>
        <a class="btn btn-primary btn-lg btn-block" href="<%= settings_path %>" role="button">
          <small><%= t('header.settings') %></small>
          </a>
      </div>
    <% end %>
  </div>
</div>
